:root {
  --default-color: #888;
  --active-color: #f00;
}

* {
  font-family: sans-serif;
}

.likeBtn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 2rem;
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
  border-radius: 30px;
  border: 1.5px solid var(--default-color);
  background-color: #fff;
  color: var(--default-color);
}

.likeBtn:hover {
  border-color: var(--active-color);
  color: var(--active-color);
}

.liked,
.liked:hover {
  background-color: var(--active-color);
  color: #fff;
  border: var(--active-color);
}

.error {
  margin: 1rem 2rem;
  color: var(--active-color);
  font-weight: bold;
}
